<div class="container my-5">
  <div class="row my-3 offset-1">
    <div class="col-8">
      <h4>会員情報編集</h4>
    </div>
  </div>

<%= form_with model: @customer, url: customers_my_page_edit_path do |f| %>

<div class="row mx-auto">
  <div class="col-3">
    <P>氏名</P>
  </div>

  <div class="form-floating">
    <%= f.text_field :first_name, autofocus: true, id:":FirstName" %>
  </div>

  <div class="form-floating pl-3">
    <%= f.text_field :last_name, autofocus: true, id:":LastName" %>
  </div>
</div>

<div class="row mx-auto">
  <div class="col-3">
    <P>フリガナ</P>
  </div>

  <div class="form-floating">
    <%= f.text_field :first_name_kana, autofocus: true, id:":FirstNameKana" %>
  </div>

  <div class="form-floating pl-3">
    <%= f.text_field :last_name_kana, autofocus: true, id:":LastNameKana" %>
  </div>
</div>

<div class="row mx-auto">
  <div class="col-3">
    <P>郵便番号</P>
  </div>

  <div class="from-floating">
    <%= f.text_field :postal_code, autofocus: true, id:":PostalCode" %>
  </div>
</div>

<div class="row mx-auto">
  <div class="col-3">
    <p>住所</p>
  </div>

  <div class="from-floating">
    <%= f.text_field :address, :size => "51", autofocus: true, id:":Address" %>
  </div>
</div>

<div class="row mx-auto">
  <div class="col-3">
    <p>電話番号</p>
  </div>

  <div class="from-floating">
    <%= f.text_field :telephone_number, autofocus: true, id:":TelephoneNumber" %>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-3 text-center">
    <%= f.submit "編集内容を保存する", class: "btn btn-success" %>
  </div>
<% end %>

  <div class="col-2 text-center">
    <%= link_to "退会する", customers_confirm_path, class: "btn btn-danger" %>
  </div>
</div>



