<div class="container my-5">
  <div class="row my-3">
    <div class="col-8">
      <h4>マイページ</h4>
    </div>
  </div>

<div class="row">
  <div class="col-2 pr-0">
    <h5><strong>登録情報</strong></h5>
  </div>

  <div class="col-2 pl-0">
    <%= link_to "編集する", customers_my_page_edit_path, class: "btn btn-success" %>
  </div>
</div>

<div class="row">
  <div class="col-7 px-0 my-3">
    <table class="table table-bordered">
      <tr>
        <td>氏名</td>
        <th><%= @customer.first_name %><%= @customer.last_name %></th>
      </tr>

      <tr>
        <td>カナ</td>
        <th><%= @customer.first_name_kana %><%= @customer.last_name_kana %></th>
      </tr>

      <tr>
        <td>郵便番号</td>
        <th><%= @customer.postal_code %></th>
      </tr>

      <tr>
        <td>住所</td>
        <th><%= @customer.address %></th>
      </tr>

      <tr>
        <td>電話番号</td>
        <th><%= @customer.telephone_number %></th>
      </tr>

      <tr>
        <td>メールアドレス</td>
        <th><%= @customer.email %></th>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-2 pr-0">
    <h5><strong>注文履歴</strong></h5>
  </div>

  <div class="col-2 pl-0">
    <%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %>
  </div>
</div>
