<div class="container">
  <div class="row mx-auto col-md-6">
    <div class="box">
      <p>ようこそ、ながのCAKEへ<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。
      </p>
    </div>
  </div>

  <h3>新着商品</h3>
    <div class="row">
      <% @items.first(4). each do |item| %>
        <div class="col">
          <p>
            <%= link_to item_path(item) do %>
              <%= image_tag item.get_image %>
            <% end %>
          </p>
          <P><%= item.name %></P>
          <P>¥<%= item.with_tax_price %></P>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-2 offset-10">
        <%= link_to "全ての商品を見る", items_path %>
      </div>
    </div>
