<h1>会員一覧</h1>

<% @customers.each do |customers| %>
  <div>
    <p>会員ID：<%= customers.id %></p>
    <p>
      氏名：
      <%= link_to admin_customer_path(customers.id) do %>
        <%= customers.first_name %><%= customers.last_name %>
      <% end %>
      </p>
    <p>メールアドレス：<%= customers.email %></p>
    <P>ステータス：
      <% if customers.is_active %>
       <p class="text-success"><strong>有効</strong></p>
      <% elsif %>
       <p class="text-muted"><strong>退会</strong></p>
      <% end %>
    </P>
  </div>
<% end %>
<%= paginate @customers %>