<div class="container my-5">
  <div class="row my-3 offset-1">
    <div class="col-4">
      <h4>注文履歴詳細</h4>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-2">
      <h5><strong>購入者</strong></h5>
    </div>

   <div class="col-2">
     <%= @order.customer.first_name %><%= @order.customer.last_name %>
   </div>
  </div>

  <div class="row mb-3">
    <div class="col-2">
      <h5><strong>注文日</strong></h5>
    </div>

    <div class="col-2">
      <%= @order.created_at.strftime("%Y/%m/%d") %>
    </div>
  </div>

  <dvi class="row mb-3">
    <div class="col-2">
      <h5><strong>配送先</strong></h5>
    </div>

    <div class="col-2">
      <%= @order.address %><br>
      <%= @order.name %>
    </div>
  </dvi>

  <div class="row mb-3">
    <div class="col-2">
      <h5><strong>支払方法</strong></h5>
    </div>

    <div class="col-2">
      <%= @order.payment_method_i18n %>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <table class="table table-borderless">
        <thead class="thead-light">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
        <% @order_detail.each do |order_detail| %>
          <td><%= order_detail.item.name %></td>
          <td><%= order_detail.price.to_s(:dalimited) %></td>
          <td><%= order_detail.amount %></td>
          <td><%= order_detail.item.with_tax_price * order_detail.amount %></td>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>

  <div class="row justify-content-end">
    <div class="col-3">
      <table class="table table-borderless">
        <tr>
          <th><h6><strong>商品合計</strong></h6></th>
          <td><%= @total %>円</td>
        </tr>
        <tr>
          <th><h6><strong>送料</strong></h6></th>
          <td>800 円</td>
        </tr>
        <tr>
          <th><h6><strong>請求金額合計</strong></h6></th>
          <td><%= @total + 800 %>円</td>
        </tr>
      </table>
    </div>
  </div>
</div>