<div class="container my-5">
  <div class="row my-3">
    <div class="col-8">
      <h4>新規会員登録</h4>
    </div>
  </div>

<%= form_with model: @customer, url: customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
<div class="row mx-auto">
  <div class="col-3">
    <p>名前</p>
  </div>

  <div class="col-1 pl-4">
    <%= f.label :"(姓)" %>
  </div>

  <div class="form-floating">
    <%= f.text_field :first_name, placeholder: "令和" %>
  </div>

  <div class="col-1 pl-4">
    <%= f.label :"(名)" %>
  </div>

  <div class="form-floating">
    <%= f.text_field :last_name, placeholder: "道子" %>
  </div>
</div>

<div class="row mx-auto">
  <div class="col-3">
    <p>フリガナ</p>
  </div>

  <div class="col-1 pr-0 pl-4">
    <%= f.label :"(セイ)" %>
  </div>

  <div class="from-floating">
    <%= f.text_field :first_name_kana, placeholder: "レイワ" %>
  </div>

  <div class="col-1 pr-0 pl-4">
    <%= f.label :"(メイ)" %>
  </div>

  <div class="from-floating">
    <%= f.text_field :last_name_kana, placeholder: "ミチコ" %>
  </div>
</div>

<div class="row mx-auto">
  <div class="col-3">
    <p>メールアドレス</p>
  </div>

  <div class="from-floating offset-1">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
  </div>
</div>

<div class="row mx-auto">
  <div class="col-3">
    <P>郵便番号(ハイフンなし)</P>
  </div>

  <div class="from-floating offset-1">
    <%= f.text_field :postal_code, placeholder: "1001000" %>
  </div>
</div>

<div class="row mx-auto">
  <div class="col-3">
    <p>住所</p>
  </div>

  <div class="from-floating offset-1">
    <%= f.text_field :address, :size => "51", placeholder: "東京都渋谷区代々木神園町0-0" %>
  </div>
</div>

<div class="row mx-auto">
  <div class="col-3">
    <p>電話番号(ハイフンなし)</p>
  </div>

  <div class="from-floating offset-1">
    <%= f.text_field :telephone_number, placeholder: "0000000000" %>
  </div>
</div>

<div class="row mx-auto">
  <div class="col-3">
    <P>パスワード(6文字以上)</P>
    <!--<#% if @minimum_password_length %>-->
    <!--<em>(<#%= @minimum_password_length %> characters minimum)</em>-->
    <!--<#% end %><br />-->
  </div>

  <div class="from-floating offset-1">
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
</div>

<div class="row mx-auto">
  <div class="col-3">
    <p>パスワード(確認用)</p>
  </div>

  <div class="from-floating offset-1">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
</div>

<div class="row">
  <div class="col-3 mx-auto">
    <%= f.submit "新規登録", class: "btn btn-success" %>
  </div>
</div>
<% end %>

<div class="row my-3">
  <div class="col-8">
    <h4>既に登録済みの方</h4>
  </div>
</div>

<div class="row">
  <div class="col-mg-2 pl-5">
    <%= render "public/shared/links" %>
  </div>
  <div class="col-3">
    <p>からログインしてください。</P>
  </div>
</div>