<h1>注文履歴一覧</h1>


<% @orders.each do |order| %>
  <div>
    <p>注文日：<%= order.created_at.strftime("%Y/%m/%d") %></p>
    <p>配送先：
      <%= order.postal_code %>
      <%= order.address %>
      <%= order.name %>
    </p>
    <p>注文商品：
    <% order.order_details.each do |order_detail| %>
      <%= order_detail.item.name %>
    <% end %>
    </p>
    <P>支払金額：<%= order.billing_amount %></P>
    <P>注文詳細：
       <%= link_to '表示する', order_path(order.id), :class => "btn btn-primary" %>
    </P>
  </div>
<% end %>
