<div>
  <%= image_tag @item.get_image %>
  <p><%= @item.name %></p>
  <p><%= @item.introduction %></p>
  <p>¥<%= @item.add_tax_price.to_s(:dalimited) %>(税込)</p>
</div>
<%= link_to "カートに入れる", edit_admin_item_path, :class => "btn btn-success" %>