<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <li>
        <%= link_to "about", about_path %>
      </li>
      <li>
        <%= link_to "商品一覧", new_customers_registration_path %>
      </li>
      <li>
        <%= link_to "新規登録", new_customers_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_customers_session_path %>
      </li>
  </header>
    <%= yield %>
  </body>
</html>
